
# Test SSH keys
test/testdata/ssh/test_key
test/testdata/ssh/test_key.pub
test/testdata/ssh/authorized_keys
# binary
benchctl

design.md
# Added by goreleaser init:
dist/

.env

# Embedded UI build output
internal/uiassets/dist/

localtesting